/* font styles */
$main-font-color: #1e43ea;
$primary-color: #ffffff;
$header-color: #cae7f1;

/* Global syles */
* {
  box-sizing: border-box;
}
body,
html {
  display: grid;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto";
}
h1,
h2,
h3 {
  text-align: center;
  font-size: 2rem;
}
img {
  width: 100%;
}
/* layout styles */
.hero-container {
  width: 100%;
  background: rgb(238, 174, 202);
  background: -moz-radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
}
.hero-intro-description {
    color: 
}
.case-study-section {
}
.veality-prototype-selection-image {
  width: 100%;
}
// Tablet styles
@media (min-width: 550px) {
}
// Desktop styles
@media (max-width: 1000px) {
}
